.modal-window {
	z-index: 50;
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: rgb(0, 0, 0, 0.1);
	overflow: auto;
	height: 100vh;
}

.content {
	margin: auto;
	position: relative;

	@media (width <= 768px) {
		width: 100%;
	}
}

.outer-click {
	position: fixed;
	inset: 0;
}

.close {
	margin-bottom: 10px;
	padding: 10px 23px !important;
	max-width: 60px !important;
	border-radius: 360px !important;
}

.header {
	display: flex;
	justify-content: flex-end;
}
