.input-text-field {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 12px;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 100%;
}

.label {
	font-size: 0.875rem;
	font-weight: 400;
}

.select-container {
	position: relative;
	width: 100%;
}

.select-button {
	font-family: var(--font-buttons);
	width: 100%;
	padding: 15px;
	border: 1px solid var(--border-color);
	background: var(--color-white);
	border-radius: 15px;
	text-align: left;
	font-size: 0.875rem;
	font-weight: 400;
	position: relative;
	cursor: pointer;
	transition: border-color 0.2s ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.select-button:focus {
	border-color: #000;
	outline: none;
}

.select-button:disabled {
	color: var(--gray);
	border-color: var(--gray);
	cursor: not-allowed;
}

.select-icon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.options-container {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	right: 0;
	max-height: 200px;
	overflow-y: auto;
	background: var(--color-white);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	z-index: 10;
	box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

.search-input {
	width: 100%;
	padding: 10px 15px;
	border: none;
	border-bottom: 1px solid var(--border-color);
	font-size: 0.875rem;
}

.search-input:focus {
	outline: none;
}

.option {
	padding: 10px 15px;
	cursor: pointer;
	font-size: 0.875rem;
}

.option:hover {
	background-color: rgb(0, 0, 0, 0.05);
}

.option-selected {
	background-color: rgb(0, 0, 0, 0.08);
}

.no-options {
	padding: 15px;
	text-align: center;
	color: var(--gray);
	font-size: 0.875rem;
}

.error {
	border-color: var(--error-color);
}

.error-text {
	color: var(--error-color);
	font-size: 0.875rem;
	font-weight: 500;
	word-wrap: normal;
}
