.input-text-field {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 12px;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 100%;
}

.label {
	font-size: 0.875rem;
	font-weight: 400;
}

.input {
	font-family: var(--font-buttons);
	width: 100%;
	height: 100%;
	padding: 15px;
	border: 1px solid var(--border-color);
	background: var(--color-white);
	border-radius: 15px;
	transition: border-color 0.2s ease-in-out;

	&:focus {
		border-color: #000;
		outline: none;
	}

	&:disabled {
		color: var(--gray);
		border-color: var(--gray);
	}
}

.input-password {
	padding-right: 39px;
}

.error {
	border-color: var(--error-color);
}

.text-area-not-resize {
	resize: none;
}

.error-text {
	color: var(--error-color);
	font-size: 0.875rem;
	font-weight: 500;
	word-wrap: normal;
}

.input-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.button {
	cursor: pointer;
	position: absolute;
	transform: translateY(50%);
	right: 0;
	padding-right: 15px;
}
