.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	max-width: 1280px;
	margin: auto;

	@media (width <= 1280px) {
		padding: 0 10px;
	}
}

.content {
	flex: 1;
	padding: 0 40px;

	@media (width <= 1280px) {
		padding: 0 10px;
	}
}

.loader-container {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}
