.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
}

.label {
	font-size: 0.875rem;
}

.relative {
	position: relative;
}

.input {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 15px 20px;
	border-radius: 1rem;
	outline: none;
	height: 48px;
	width: 100%;
	font-size: 0.875rem;
	background-color: white;
}

.input::placeholder {
	color: var(--label-color);
}

.button {
	position: absolute;
	right: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}
