.home-screen {
	@media (width<=1024px) {
		overflow-x: clip;
	}
}

.image-cards {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.info-panel {
	display: block;
}
