@import 'tailwindcss';

:root {
	--theme: light;
	--background: #f8f8f8;
	--text-color: #032c28;
	--bg-green: #8fe248;
	--bg-brown: #f0e9e2;
	--bg-yellow: #fee200;
	--bg-purple: #ffb9ff;

	/* шрифты */
	--font-size: 14px;
	--font-family: arial, helvetica, sans-serif;
	--font-headings: 'Nunito Sans', sans-serif;
	--font-buttons: mulish, sans-serif;

	/* размеры экранов */
	--phone: 768px;
	--tablet: 1024px;
}

[data-theme='dark'] {
	--theme: dark;
	--background: #032c28;
	--foreground: #f8f8f8;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--font-size);
}
