.menu-item {
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	margin: 0;
	padding: 0;
	transition: text-decoration 0.3s;

	@media (width <= 768px) {
		font-size: 12px;
	}
}

.menu-item:hover {
	text-decoration: underline;
}

.menu-item-disabled {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}
