.student-discount-section {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.partner-discount-section {
  flex: 0 0 auto;
  align-self: flex-end;
  margin-top: -272px;
  position: relative;
  z-index: 2;
}
.image-container-outer {
  box-sizing: border-box;
  display: block;
  width: 390px;
  max-width: initial;
  height: 312px;
  border: none;
  border-radius: 30px;
  object-fit: cover;
  
}
.student-discount-offer {
  flex: 0 0 auto;
  padding-left: 65px;
  margin-top: -179px;
  position: relative;
  z-index: 1;
  transform: scaleX(-1);
}
.image-container-style {
  box-sizing: border-box;
  display: block;
  width: 610px;
  max-width: initial;
  height: 189px;
  border: none;
  object-fit: cover;
  transform: scaleX(-1);
}
.student-discount-offer-container {
  flex: 0 0 auto;
  width: 100%;
}
.student-discount-offer-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 894px;
  padding: 40px 39px;
  background: #fee200;
  border-radius: 30px;
  margin-top: 30px;
}
.exclusive-discount-message {
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: 733px;
  padding: 0;
  margin: 0;
  font: 800 48px/48px "Nunito Sans";
  color: #032c28;
  text-align: left;
  letter-spacing: 7px;
  line-height: 100%;
  font-variant-numeric: proportional-nums;
  font-variant-ligatures: lining-nums;
}
.exclusive-discount-button {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 400px;
  min-width: 400px;
  height: 48px;
  margin-top: 40px;
  font: 700 14px Mulish, sans-serif;
  color: #032c28;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  cursor: pointer;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

