.form {
	display: flex;
	flex-direction: column;
	gap: 19px;
	width: 100%;
	max-width: 410px;
	margin: auto;
	margin-top: 25px;
	padding: 30px;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	font-size: 1.5rem;
	font-weight: 800;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.submit-button {
	background-color: var(--bg-green);
	padding: 15px;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 15px;
}

.login-link {
	font-size: 0.875rem;
	font-weight: 700;
	text-align: center;
	color: #032c28;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.back-button {
	max-width: 116px;
}

.login-anchor {
	color: #6dbc29;
	text-decoration: underline;
	padding-left: 8px;
}

.link {
	color: #6dbc29;
	text-decoration: underline;
}

@media (width <= 768px) {
	.form {
		padding: 15px;
	}

	.back-button {
		max-width: unset;
	}

	.button-wrapper {
		flex-direction: column;
	}
}
