.card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 410px;
	width: 100%;

	@media (width <= 1024px) {
		min-width: 100%;
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 800;
}

.description {
	font-size: 0.875rem;
	font-weight: 500;
}
