@import 'tailwindcss';

:root {
	--theme: light;

	/* цвета */
	--bg-white: #f8f8f8;
	--text-color: #032c28;
	--bg-green: #8fe248;
	--bg-brown: #f0e9e2;
	--bg-yellow: #fee200;
	--bg-purple: #ffb9ff;
	--success-color: #16a34a;
	--error-color: #dc2626;
	--gray: #888;

	/* используемые цвета */
	--background: var(--bg-white);
	--bg-primary: var(--bg-green);
	--bg-secondary: #efefef;
	--border-color: rgb(0, 0, 0, 0.2);
	--label-color: var(--gray);

	/* hover цвета */
	--hover-bg-primary: #aaf46a;
	--hover-bg-secondary: #e0e0e0;
	--hover-bg-white: var(--bg-secondary);

	/* шрифты */
	--font-size: 0.875rem;
	--font-headings-spacing: 1px;
	--font-buttons: 'Mulish', sans-serif;
	--font-headings: 'Nunito Sans', sans-serif;

	/* размеры экранов */
	--phone: 768px;
	--tablet: 1024px;

	/* размеры от разрешения */
	--border-radius-desktop: 30px;
	--border-radius-phone: 15px;
}

[data-theme='dark'] {
	--theme: dark;
}

html {
	overflow-y: scroll;
	font-size: 16px; /* базовый размер шрифта */
}

body {
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--text-color);
	font-family: var(--font-buttons);
	font-size: var(--font-size);
	line-height: normal;

	--border-radius: var(--border-radius-desktop);

	@media (width<=768px) {
		--border-radius: var(--border-radius-phone);
	}
}
